* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #e8eaea;
    --text-over-image: #ffffff;
    --text-title: #435657;
    --text-color: #728181;  
    --main-color: #1f1f1f;
    --main-accent: #00EEFF;
    --shadow-color: #728181;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    flex: 1;
    min-height: 100vh;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    backdrop-filter: blur(2px);
    transition: top 1s ease;
}

.header .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    margin-left: 1rem;
}

.header-logo img {
    height: 5.5rem;
    width: 6rem;
    object-fit: cover;
    margin-right: 0.5rem;
}

.header-logo a {
    font-size: 2.8rem;
    color: var(--text-over-image);
    font-weight: 600;
    cursor: default;
    text-shadow: 2px 2px 2px var(--shadow-color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-over-image);
    padding-right: 2rem;
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.navbar a:hover,
.navbar a.active {
    font-weight: 900;
}

#menu-icon {
    color: var(--bg-color);
    text-shadow: 1px 1px 1px var(--shadow-color);
    font-size: 3.8rem;
    padding-right: 1rem;
    display: none;
}

.home .slideshow-container {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.slideshow-container img {
    position: relative;
    height: 100vh;
    width: 100%;
    object-fit: cover; 
}

/* Slideshow */

.mySlides { 
    display: flex;
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% { opacity: .8 }
    100% { opacity: 1 }
}

.prev, .next {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    animation: 1.5s ease-out 0s 1 slideInFromRight;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    z-index: 100;
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    top: 95vh;
    background-color: #bbb;
    opacity: 0.8;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    display: inline-block;
    transition: 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}

@keyframes slideInFromLeft {
    0% { transform: translateX(-80px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.home-dots {
    animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% { transform: translateY(80px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideInFromRight {
    0% { transform: translateX(80px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.mySlides .home-text{
    position: relative;
    bottom: 0;
    width: "65%";
    left: 1px;
    padding: 15vh 2rem;
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    z-index: 50;
}

.home-text h1 {
    margin-bottom: 1rem;
    color: var(--text-over-image);
    font-size: 3rem;
    text-shadow: 2px 2px 3px var(--shadow-color);
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.home-text p {
    margin-left: 2rem;
    text-align: right;
    font-size: 2rem;
    min-width: 30rem;
    color: var(--text-over-image);
    text-shadow: 1px 1px 3px var(--shadow-color);
    animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

.about {
    background-color: var(bg-color);
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.about .about-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 5rem;
}

.about-main h2 {
    font-size: 3.4rem;
    line-height: 6rem;
    color: var(--main-color);
    padding-bottom: 3rem;
    text-shadow: 1px 1px 3px var(--shadow-color);
}

.about-main .line {
    align-items: center;
    height: 1.6px;
    width: 60%;
    background-color: var(--main-accent);
    margin-bottom: 3rem;
}

.about-main p {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3.6rem;
    color: var(--text-color);
}

.about .about-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
    padding: 1rem 3rem 1rem;
}

.about-box h3 {
    font-size: 2.4rem;
    color: var(--main-color);
    text-shadow: .5px .5px 2px var(--shadow-color);
}

.about-box p {
    padding-top: 1rem;
    line-height: 2.6rem;
    font-size: 1.6rem;
    padding-bottom: 3rem;
}

#services {
    padding-top: 3rem;
    background-color: var(--second-bg-color);
}

.services .services-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    color: var(--main-color);
    text-shadow: 3px 3px 3px var(--shadow-color);
}

.services .services-container {
    padding: 0 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services-content h3 {
    color: var(--main-color);
    font-size: 2.8rem;
    padding-bottom: 4rem;
    text-shadow: 1px 1px 3px var(--shadow-color);
}

.services-content p {
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 3rem;
}

.services-btn {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.services-container .photos-images {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.photos-images .frame {
    height: 22rem;
    width: 36rem;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.photos-images .images {
    top: 1rem;
    left: 1rem;
    position: absolute;
    height: 21rem;
    width: 34rem;
    z-index: 0;
    border-radius: 8px;
    object-fit: cover;
    object-position: 25%, 25%;
}

.services .videos-background {
    position: absolute;
    z-index: -1;
    background-color: var(--bg-color);
}

.services-container .videos-images {
    position: relative;
    top: 0;
    left: 0;
}

.videos-images .frame {
    height: 22rem;
    width: 36rem;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.videos-images .images {
    top: 0.5rem;
    left: 0.4rem;
    position: absolute;
    height: 18.9rem;
    width: 35.2rem;
    z-index: 1;
    border-radius: 1px;
    object-fit: cover;
    object-position: 25%, 25%;
}

.services-container .i360-images {
    position: relative;
    top: 0;
    left: 0;
}

.i360-images .frame {
    height: 22rem;
    width: 36rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.i360-images .images {
    position: relative;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 21.5rem;
    width: 35rem;
    z-index: 1;
    border-radius: 1rem;
}

.services .interactive-background {
    position: absolute;
    z-index: -1;
    background-color: var(bg-color);
}

.services-container .interactive-images {
    position: relative;
    top: 0;
    left: 0;
}

.interactive-images .frame {
    height: 22rem;
    width: 39rem;
    position: relative;
    top: 0;
    z-index: 1;
}

.interactive-images .images {
    top: 0.6rem;
    left: 4.3rem;
    position: absolute;
    height: 20rem;
    width: 30.5rem;
    z-index: 1;
    border-radius: 5px;
    object-fit: cover;
    object-position: 25%, 25%;
    background-color: var(--bg-color);
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-color: var(bg-color);
}

.portfolio .portfolio-title {
    font-size: 4.6rem;
    padding-bottom: 5rem;
    color: var(--main-color);
    text-shadow: 2px 2px 3px var(--shadow-color);
}

.portfolio .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 1rem;
}

.portfolio-container .portfolio-box {
    overflow: hidden;
    border-radius: 1rem;
}

.portfolio-box-addL, .portfolio-box-addB, .portfolio-box-addR {
    overflow: hidden;
    border-radius: 1rem;
}

.portfolio-box img {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--text-color);
    overflow: hidden;
    display: flex;
    height: 22rem;
    width: 36rem;
    transition: .5s ease;
}

.portfolio-box-addL img, .portfolio-box-addB img, .portfolio-box-addR img {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--text-color);
    overflow: hidden;
    display: flex;
    height: 22rem;
    width: 36rem;
    transition: .5s ease;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box-addL img:hover, .portfolio-box-addB img:hover, .portfolio-box-addR img:hover {
    transform: scale(1.1);
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
display: none; 
position: fixed; 
z-index: 1; 
padding-top: 60px; 
left: 0;
right: 0;
top: 0;
width: 100%;
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.9);
justify-content: center;
align-items: center;
}

.modal-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-content {
max-width: 100%;
max-height: 100%;
object-fit: contain;
}

.modal-content, #caption {
animation-name: zoom;
animation-duration: 0.6s;
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

.close {
position: absolute;
top: 1%;
left: 2%;
color: #f1f1f1;
font-size: 6rem;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* ------------------------- Pricing ------------------------- */

#pricing {
    padding-top: 8rem;
    padding-bottom: 5rem;
    background-color: var(--second-bg-color);
}

.pricing .pricing-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pricing .pricing-title {
    font-size: 3.4rem;
    color: var(--main-color);
    text-shadow: 2px 2px 3px var(--shadow-color);
    text-align: center;
}

.pricing-interactive p {
    font-size: 1.8rem;
    color: var(--text-color);
}

.pricing-slider {
    margin-top: 1rem;
    width: 22rem;
}

.type-slider {
    margin-top: 1rem;
    width: 22rem;
}

.proyect-size {
    padding-left: 1.5rem;
    font-size: 1.8rem;
    color: var(--main-color);
}

.proyect-type {
    padding-left: 1.5rem;
    font-size: 1.8rem;
    color: var(--main-color);
}

.pricing-example img {
    height: 22rem;
    width: 36rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 4px var(--shadow-color);
}

.pricing-interactive .container-type {
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.container-type .pricing-select-type {
    font-size: 1.8rem;
    margin-top: 2rem;
    padding: 0px 2px 0px;
}

.pricing-interactive .service-box {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-add-service span {
    font-size: 1.8rem;
}

.service-box p {
    color: var(--main-color);
    padding-top: 2rem;
    font-size: 1.8rem;
}

.service-box select {
    font-size: 1.8rem;
    margin-top: 2rem;
    border: 1px solid var(--shadow-color);
    border-radius: 1rem;
    box-shadow: 2px 2px 3px var(--shadow-color);
    padding: 3px 2px 3px;
}

.service-button-container {
    display: flex;
    justify-content: center;
}

.service-box i {
    font-size: 2rem;
    margin-top: 1.8rem;
}

.service-box i:hover {
    color: red;
    text-shadow: 1px 1px 3px;
}

.pricing .container-money {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: baseline;
}

.container-budget p {
    font-size: 2.2rem;
    padding-top: 3rem;
}

.container-budget span {
    font-size: 2.2rem;
    color: var(--main-color);
    padding-top: 1rem;
    padding-left: 3rem;
}

.container-methods h6 {
    font-size: 2.2rem;
    padding-top: 3rem;
}

.container-methods p {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-left: 3rem;
}

#add-service {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.service-box {
    /* display: none; */
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

.interactive-options {
    display: none;
    grid-template-columns: 10% 10% 80%;
    margin: 2rem 3rem 2rem;
    gap: .5rem;
}

.interactive-options i {
    font-size: 2.5rem;
    margin-top: .8rem;
}

.interactive-options input {
    width: 2rem;
    height: 2rem;
    margin-top: 1.2rem;
    color: var(--main-color);
}

.interactive-options label {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--main-color);
}

/* ----------------------------------------- Contact Section ----------------------------------------- */

.contact {
    background-color: var(bg-color);
}

.contact .contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    padding-top: 5rem;
    
}

.contact-info h2 {
    font-size: 4rem;
    color: var(--main-color);
    text-shadow: 1px 1px 3px var(--shadow-color);
    margin-bottom: 5rem;
}

.contact-info p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;
    color: var(--text-color);
    padding-bottom: 2rem;
}

.contact-info h3 {
    padding: 4rem 0 2rem;
    font-size: 3.6rem;
    color: var(--main-color);
    text-shadow: 1px 1px 2px var(--shadow-color);
}

.contact-info-whatsapp {
    display: flex;
    gap: 1rem;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 0 1rem 0;
    padding: 1rem 1rem 1rem;
    font-size: 3rem;
    border: .2rem solid var(--main-color);
    border-radius: 2rem;
    border-color: var(--text-color);
    transition: .5s ease;
}

.contact-info-whatsapp:hover {
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.contact-info-whatsapp i {
    color: green;
    font-size: 3rem;
}

.contact-info-whatsapp span {
    font-size: 2rem;
    color: green;
}

.contact-form h2 {
    font-size: 3.6rem;
    color: var(--main-color);
    text-shadow: 1px 1px 3px var(--shadow-color);
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 5rem;
}

.contact-info .social-media {
    display: flex;
    justify-content: center;
    align-content: center;

}

.social-media a {
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 0 1rem 0;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    border: .2rem solid var(--main-color);
    border-radius: 25%;
    border-color: var(--text-color);
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.contact-form form {
    margin: 1rem 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-form form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: 0.7rem 0;
    box-shadow: 0 0 2px var(--text-color);
}

.contact-form form .input-box input {
    width: 49%;
}

.contact-form form textarea {
    resize: none;
}

.contact-form form .btn {
    margin: 2rem;
    cursor: pointer;
    width: 22rem;
    height: 5.5rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    background-color: var(--second-bg-color);
}

.footer-text p {
    font-size: 1rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    background: var(--main-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop:hover a {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 1.6rem;
    color: var(--second-bg-color);
}


/* --------------------------------------------------------------------- media queries */

@media (max-width: 850px) {

    #menu-icon {
        display: block;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(100, 100, 100, 0.2);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }

}

@media (min-width: 530px) {
    .about-double {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .about-main {
        min-width: 500px;
    }
    

}

@media (min-width: 1200px) {

    .about {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .about .about-main {
        max-width: 500px;
    }

    .about .about-box {
        min-width: 240px;
    }
}
